<div
  class="preview flex min-h-[350px] flex-col w-full justify-center px-4 lg:px-10 py-10 items-center style-vega"
>
  <section class="w-full max-w-sm" hlmCard>
    <div hlmCardHeader>
      <div class="flex items-center justify-between w-full mb-6">
        <h3 hlmCardTitle class="!m-0">{{ 'login.title' | transloco }}</h3>
        <app-language class="flex items-center"></app-language>
      </div>
      <p hlmCardDescription class="text-xs text-muted-foreground">
        {{ 'login.autofill' | transloco }}
      </p>
      <div class="flex flex-wrap gap-2 items-center">
        <button
          type="button"
          hlmBtn
          variant="outline"
          class="text-[10px] px-1 py-1"
          (click)="fillValidCredentials()"
        >
          <ng-icon hlm name="lucideCheck" size="sm" />
          {{ 'login.autofill.validCredential' | transloco }}
        </button>
        <button
          type="button"
          hlmBtn
          variant="outline"
          class="text-[10px] px-1 py-1"
          (click)="fillInvalidCredentials()"
        >
          <ng-icon hlm name="lucideX" size="sm" />
          {{ 'login.autofill.invalidCredential' | transloco }}
        </button>
        <button
          type="button"
          hlmBtn
          variant="outline"
          class="text-[10px] px-1 py-1"
          (click)="fillInvalidEmail()"
        >
          <ng-icon hlm name="lucideMailX" size="sm" />
          {{ 'login.autofill.invalidEmail' | transloco }}
        </button>
      </div>
    </div>

    <div hlmCardContent>
      <form [formRoot]="loginForm" id="loginFormId">
        <div hlm-field class="flex flex-col gap-6">
          <div class="grid gap-2">
            <label hlmLabel for="email"
              >{{ 'login.label.email' | transloco }}</label
            >
            <input
              type="email"
              id="email"
              placeholder="Admin@example.com"
              [formField]="loginForm.email"
              hlmInput
            />
            @if (loginForm.email().errors() | zodTransform1:'login'; as token) {
            <hlm-field-error> {{ token.key | transloco }} </hlm-field-error>
            }
          </div>
          <div class="grid gap-2">
            <div class="flex items-center">
              <label hlmLabel for="password"
                >{{ 'login.label.password' | transloco }}</label
              >
            </div>
            <input
              [formField]="loginForm.password"
              type="password"
              id="password"
              hlmInput
            />
            @if (loginForm.password().errors() | zodTransformAll:'login'; as
            tokens) {
            <hlm-field-error validator="too_small">
              {{ 'login.password.too_small' | transloco: { minimum: 5 } }}
            </hlm-field-error>

            <hlm-field-error validator="need_number">
              {{ 'login.password.need_number' | transloco }}
            </hlm-field-error>

            <hlm-field-error validator="need_letter">
              {{ 'login.password.need_letter' | transloco }}
            </hlm-field-error>
            }
          </div>
        </div>
      </form>
    </div>

    <div hlmCardFooter class="flex-col gap-2">
      <button
        hlmBtn
        type="submit"
        form="loginFormId"
        [disabled]="loginForm().pending() || loginForm().invalid()"
        class="w-full"
      >
        {{ loginStatus.status() === 'loading' ? 'Login...' : 'Login' }}
      </button>
      @if (loginStatus.status() === 'error') {
      <hlm-alert variant="destructive" class="max-w-md">
        <ng-icon name="lucideAlertCircle" />
        <h4 hlmAlertTitle>{{ 'login.error.title' | transloco }}</h4>
        <p hlmAlertDescription>
          {{ backendResponse()?.message || ('login.error.message' | transloco)
          }}
        </p>
      </hlm-alert>
      }
    </div>
  </section>
  <app-debug-panel
    class="w-full max-w-sm"
    [data]="loginData()"
    [form]="loginForm()"
    [backendResponse]="backendResponse()"
    [backendStatus]="loginStatus.status()"
  ></app-debug-panel>
</div>
